.nav {
  height: 80px;
  background-color: #090909;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
}

.nav a {
  text-decoration: none;
  color: #eee;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.4s;
}

.nav-options a{
  text-decoration: underline rgba(0,0,0,0);
  transition: text-decoration-color 0.3s;
}

.nav-options a:hover {
  text-decoration-color: rgba(255, 255, 255, 1);
}

.nav * {
  margin-top: auto;
  margin-bottom: auto;
}

.nav-title {
  font-size: 20px;
  font-weight: bold;
}

.transparent {
  background-color: rgba(0, 0, 0, 0);
}