.contact-container {
  background-color: #000;
}

.contact {
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  width: 80%;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 80px);
}

.contact-title {
  font-size: 80px;
  margin: 0;
}

.contact div {
  text-align: left;
}

.contact p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contact-text {
  font-size: 16px;
  transition: 0.3s;
  cursor: pointer;
}

.contact-text a {
  text-decoration: none;
  color: #5D9DDB;
}

.contact-text:hover {
  font-size: 18px;
}

.form-title {
  font-size: 24px;
}

.input-container {
  margin-bottom: 20px
}